.user-card {
  border: 2px solid darkcyan;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  color: #0056b3;
}

.even-row {
  background-color: pink;
}

.odd-row {
  background-color: teal;
}
